html {
    height: 100%;
    body {
        height: 100%;
        background: rgb(219, 219, 219);
        margin: 0;
    }  
}


.container {
    width: 100%;
    height: 100%;    
    .detail-page {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000000ab;
        justify-content: center;
        .content {
            width: 80%;
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            justify-content: flex-start;
            flex-direction: column;
            background: #fffdfd;
            div{
                margin: 10px;
            }
            div:nth-child(1) {
                width: 68vw;
                height: 33vh;
                margin-top: 5vh;
                display: flex;
                position: relative;
                background-size: contain !important;                 
            }
            div:nth-child(2) {
                font-weight: 700;
                color: grey;      
                width: 61vw;         
                display: flex;
                justify-content: center;        
            } 
            div:nth-child(3) {   
                color: rgb(49, 48, 48);    
                display: flex;
                justify-content: center; 
                flex-direction: column;                      
            }
            div:nth-child(4) {                            
                width: 61vw;
                overflow: auto;
            } 
                      
        }
    }
    .header {
        background-color: rgb(37, 37, 41);
        width: 100%;
        height: 8%;
        color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 3.8vh;
    }
    .title {
        background-color: #b1afaf;
        width: 100%;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;
        div {
            display:flex;
            width: 20%;
            height: 100%;
            align-items: center;
            justify-content: center;
        }
        .select-category {
            width: 98%;
            height: 48%;
            font-size: inherit;
        }
        .select-country {
            width: 79%;
            height: 48%;
            font-size: inherit;
        }
        .keyword-input {
            width: 79%;
            height: 41%;
            font-size: inherit;
        }
        .search {
            width: 5.8vh;;
        }
    }
    .content {        
        width: 100%;
        height: 80%;
        z-index: 1;
        .result {
            height: 7%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 3.5vh;
        }
        .article-content {
            width: 100%;
            height: 93%;
            display: flex;
            justify-content: center;
            overflow: auto;
            .show-more{
                display: flex;
                position: absolute;
                bottom: 0;
                width: 15vh;
                height: 5vh;
                background: grey;
                color: white;
                justify-content: center;
                font-weight: 700;
                border-radius: 5px;
                cursor: pointer;
                align-items: center;
            }
            .container {
                width: 83%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                .article {
                    width: 53vh;
                    height: 100%;                    
                    margin-bottom: 17px;
                    background-color: white;
                    border-radius: 5px;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .head {
                        width: 100%;
                        height: 26vh;
                        background-size: cover !important;
                    }
                    .detail {
                        width: 100%;
                        height: 51%;
                        cursor: pointer;
                        div {
                            margin: 5px 0px 0px 15px;
                        }
                        div:nth-child(1) {
                            margin-top:15px;
                            span {
                                font-size: 3.5vh;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 2;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                font-weight: 700;
                            }
                        }     
                        div:nth-child(2) {                            
                            color: grey;  
                            
                            span:nth-child(1) {
                                font-weight: 700;
                                font-size: 3vh;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 1;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                overflow: hidden; 
                            }
                            span:nth-child(2) {
                                font-size: 2.7vh;
                                
                            }                                            
                        } 
                        div:nth-child(3) {                            
                            height: 30%;
                            overflow: auto;
                            span {
                                font-size: 3vh;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 3;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;                               
                            }
                        } 
                        div:nth-child(4) {
                            margin-top:2vh;
                            span {
                                background: #444850;
                                color: white;
                                border-radius: 4px;
                                padding: 1vh;
                                font-size: 3vh;
                            }                            
                        }                 
                    }
                    .foot {
                        width: 100%;
                        height: 5vh;
                        width: 100%;
                        color: grey;
                        background: #f3f1f1; 
                        display: flex;
                        // position: relative;
                        align-items: center;
                        border-top: solid 1px;
                        span{
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .container {
        .header {
            font-size: 2.8vh;
        }
        .title {            
            div {
                width: 32%;
                font-size: 1.8vh;             
            }            
        }
        .content {
            .article-content {
                width: 100%;
                height: 93%;
                display: flex;
                justify-content: center;
                .container {
                    width: 83%;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    .article {
                        // width: 48vh;
                        // height: 95%;
                       
                        margin-bottom: 17px;
                    }
                }
            }
        }
    } 
}

@media (orientation: landscape) and (max-width: 992px) {
    .container {        
        .title {            
            div {
                width: 32%;
                font-size: 3.8vh;
            }            
        }
        .content {
            .article-content {
                .show-more {
                    width: 26vh;
                    height: 8vh;
                }
                .container {
                    width: 94%;                    
                    .article {
                        .detail {                            
                            div{
                                margin: 0px 0px 0px 3px;
                            }
                            div:nth-child(1) {
                                margin-top:2px;                              
                            }     
                        }
                        .foot {
                            font-size: 3.5vh;
                        }
                    }
                }
            }
        }
    } 
}