<template>
  <div class="container">   
        <template v-for="(item,i) in articles">
        <div class="article" :key="i" @click="gotoPage(item)">
            <div class="head" :style="`background: url(${item.urlToImage}) center center`"></div>         
            <div class="detail" >
                <div>               
                  <span>{{item.title}}</span>
                </div>
                <div>               
                  <span>{{item.author}}</span>
                  <span>{{item.source.name}}</span>
                </div>
                <div>               
                  <span>{{item.content}}</span>
                </div>
                <div>               
                  <span>Go to Page</span>
                </div>
            </div>
            <div class="foot">
                <span>Published: {{publishDate(item.publishedAt)}}</span>
            </div>
        </div>
      </template>
     
  </div>
</template>

<script>
import { mapState } from "vuex";
import moment from "moment";
export default {
  name: 'Article',
  computed: {
    ...mapState("dashboard", ["articles"])
  },
  methods: {
    gotoPage (item) {
      this.$store.commit("dashboard/setModal", true);
      this.$store.commit("dashboard/setDetailsPage",item)
    },
    publishDate(val){
      return moment(val).format('YYYY/MM/DD')
    }  
  }
}

</script>
