<template>
  <div class="container">
    <template v-if="isModal"><details-page /></template>       
       <div class="header">
          <span>React News Search & Bookmark</span>
          <span>Top News</span>         
       </div>
       <div class="title">   
        <div>
          <select class="select-category" v-model="selected_country">
            <option disabled value="">Choose Country</option>
            <template  v-for="item in dplist.country">         
              <option :key="item.code">{{item.name}}</option>
            </template>            
          </select>   
        </div>   
        <div>                     
          <select class="select-country" v-model="selected_category">
            <option disabled value="">Choose Category</option>   
            <template  v-for="item in dplist.category">         
              <option :key="item.code">{{item.name}}</option>
            </template>
          </select>    
        </div>      
        <div>
          <input class="keyword-input" v-model="keword_input" placeholder="Keywords (optional)">
          <img class="search" @click="search" src="/images/search_image.png"/>
        </div>
       </div>
       <div class="content">       
          <div class="result">
            <span>
            {{totalResults}} new result(s)
            </span>            
          </div>   
          <div @scroll="onScroll" class="article-content">
            <content-article />
            <div v-if="nextPage" class="show-more" @click="showMore">
              <span>Show more</span>
            </div>   
          </div>  
               
       </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import ContentArticle from "./Article";
import DetailsPage from "./DetailsPage";

export default {
  name: 'NewProject',
  data() {
    return {
      keword_input:"",
      selected_category: "",
      selected_country: "",
      searchAction:null,
    };
  },
  components: {
    ContentArticle,
    DetailsPage
  },
  computed: {
    ...mapState("dashboard", ["dplist","totalResults","articles","isModal","pagination"]),
    nextPage(){
      if(!this.articles) return
      return this.pagination >= this.totalResults ? false : true
    }
  },
  watch: {
    selected_category: function () {
      this.dropDownSearch();
    },
    selected_country: function () {
      this.dropDownSearch();      
    },
  },
  methods: {
    search () {
      this.$store.commit("dashboard/setPageSize", 9)
      this.$store.dispatch("dashboard/search", { searchText: this.keword_input });
      this.searchAction = 'input'
    },

    dropDownSearch () {   
      this.$store.commit("dashboard/setPageSize", 9)
      this.$store.dispatch("dashboard/dpsearch", 
      { 
        category:this.selected_category, 
        country:this.selected_country 
      });
      this.searchAction = 'dropdown'
    },
    showMore (){     
      let size = this.pagination + 9;      
      this.$store.commit("dashboard/setPageSize", size)

      if(this.searchAction == "input"){
        this.$store.dispatch("dashboard/search", { searchText: this.keword_input });
      }else {
        this.$store.dispatch("dashboard/dpsearch", 
        { 
          category:this.selected_category, 
          country:this.selected_country 
        });
      }
    },
    onScroll ({ target: { scrollTop, clientHeight, scrollHeight }}) {
      if (scrollTop + clientHeight >= scrollHeight) {        
        this.showMore()
      }
    }
  },
  
}

</script>

<style lang="scss">
@import "../assets/style/main.scss";
</style>