<template>
  <div class="detail-page" @click="closeModal">
        <div class="content">  
            <div class="head" :style="`background: url(${detailsPage.urlToImage}) center center no-repeat`"></div>             
            <div>               
                <span>{{detailsPage.title}}</span>
            </div>
            <div>               
                <span>{{detailsPage.author}}</span>            
                <span>{{detailsPage.source.name}}</span>
            </div>
            <div>               
                <span>{{detailsPage.content}}</span>
            </div>
        </div>    
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: 'detail',
  computed: {
    ...mapState("dashboard", ["detailsPage"]),
  },
   methods: {
    closeModal() {
      this.$store.commit("dashboard/setModal", false)
    },
  }
}

</script>