<template>
  <div id="app">
    <dash-board msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
import DashBoard from './components/Dashboard.vue'

export default {
  name: 'App',
  components: {
    DashBoard
  }
}
</script>

<style>
#app {
  width: 100%;
  height: 100%;
}
</style>
